.news-block
  .gray-background
    background-color: #f2f2f2

  .content-block
    margin: 0
    padding: 16px
    min-height: 172px

    p
      text-align: justify
      margin: 10px 0 0 0
      color: #888

  img
    float: right
    padding: 0 0 10px 10px
    max-width: 250px
    width: 45%

  h2
    font-size: 1.1em
    margin: 5px 0 5px 0
    color: #111
