//
// (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017.
// See the LICENSE file for more details.
//

$epfl-color: #ed1c24
$img-background: #7b000b

.navbar, .subnavbar, .toolbar
  background: $epfl-color

.color-epfl
  color: $epfl-color

.panel
  .page-content
    height: initial

.separator
  margin: 0 16px
  border: 1px solid #ccc
  display: block
  clear: both

.videoWrapper
  position: relative
  padding-bottom: 56.25%
  padding-top: 25px
  height: 0

  iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.news-block
  .gray-background
    background-color: #f2f2f2

  .content-block
    margin: 0
    padding: 16px

    p
      text-align: justify
      margin: 10px 0 0 0
      color: #666

  img
    float: right
    margin: 0 0 10px 10px
    max-width: 250px
    width: 45%
    background-color: $img-background
    color: white

  h2
    font-size: 1.1em
    margin: 5px 0 5px 0
    color: #000

.news-content
  a
    text-decoration: underline
    color: $epfl-color

  a:hover
    text-decoration: none

  .news-text
    margin: 0
    text-align: justify
    color: #666

    h2
      text-align: center
      color: #111

  .news-authors
    i
      font-size: 1.3em
      vertical-align: middle

  @media screen and (max-width: 425px) and (orientation: portrait)
    .separator
      display: none

    .main-image, iframe
      width: 100%

    .news-text
      h2
        text-align: center
        margin-top: 25px

      img
        width: 100%

    .news-date
      background-color: $epfl-color
      color: white
      padding: 5px 10px
      border-radius: 10px
      position: absolute
      margin-left: 16px
      margin-top: -20px

    .news-share
      padding: 8px 8px
      -moz-border-radius: 100px
      -webkit-border-radius: 100px
      border-radius: 30px
      background-color: $epfl-color
      position: absolute
      right: 0
      margin-right: 16px
      margin-top: -25px

      img
        width: 20px
        height: 20px
        vertical-align: middle

  @media screen and (min-width: 426px)
    .news-text
      img, iframe
        display: block
        margin: 0 auto

    .main-image
      float: left
      height: 30px
      margin: 20px 10px 0 16px

    .news-date
      margin-left: 16px
      margin-top: 25px
      margin-bottom: 20px
      float: left
      color: $epfl-color

    .news-share
      padding: 8px 8px
      -moz-border-radius: 100px
      -webkit-border-radius: 100px
      border-radius: 30px
      background-color: $epfl-color
      margin-top: 15px
      margin-right: 16px
      float: right

      img
        width: 20px
        height: 20px
        vertical-align: middle

    h2
      clear: left

@media screen and (min-width: 768px)
  .news-block, .news-content
    max-width: 768px
    margin: 0 auto

  .news-block
    border: 1px solid #f2f2f2

    .content-block
      height: 172px

      h2
        margin: 0

    img
      margin-bottom: 0

.loader
  border: 16px solid #f3f3f3
  border-top: 16px solid $epfl-color
  border-radius: 50%
  width: 60px
  height: 60px
  top: 40%
  left: 40%
  position: absolute
  display: none
  animation: spin 2s linear infinite


@keyframes spin
  0%
    transform: rotate(0deg)
  100%
    transform: rotate(360deg)

.list-block
  .item-input
    margin-bottom: 0
