//
// Original work (c) ECOLE POLYTECHNIQUE FEDERALE DE LAUSANNE, Switzerland, VPSI, 2017-2018.
// Modified work (c) William Belle, 2018-2021.
// See the LICENSE file for more details.
//

.news-block
  .gray-background
    background-color: $news-block-color

  .content-block
    margin: 0
    padding: 16px

    p
      text-align: justify
      margin: 10px 0 0 0
      color: $text-color

  img
    float: right
    margin: 0 0 10px 10px
    max-width: 250px
    width: 45%

  h2
    font-size: 1.1em
    margin: 0 0 5px 0
    color: $news-title-color

@media screen and (min-width: 588px)
  .news-block
    .content-block
      min-height: 172px

    img
      margin-bottom: 0
      height: 140px

@media screen and (min-width: 768px)
  .news-block
    border: 1px solid $news-block-color

    .content-block
      height: 172px

      h2
        margin: 0
