<div data-page="about" class="page navbar-fixed">
  {{> navbar }}
  <div class="page-content">
    <div class="page-content-inner">
      <div class="content-block ">
        <p>{{ ABOUT_TEXT }}</p>
        <p>v{{ APP_VERSION }}</p>
      </div>
    </div>
  </div>
</div>
