<div data-page="about" class="page navbar-fixed">
  {{> navbar }}
  <div class="page-content">
    <div class="content-block ">
      <h2 class="title-page">About</h2>
      <p>EPFL News as a Progressive Web App</p>
      <p>v0.0.1</p>
    </div>
  </div>
</div>
