<div data-page="news" class="page navbar-fixed">
  {{> navbar }}
  <div class="page-content news-content">
    <img src="{{ NEWS_IMAGE }}" />
    <span>{{ NEWS_DATE }}</span>
    <div class="content-block news-text">
      <h2>{{ NEWS_TITLE }}</h2>
      {{{ NEWS_DESC }}}
    </div>
  </div>
</div>
