<div data-page="about" class="page navbar-fixed">
  {{> navbar }}
  <div class="page-content">
    <div class="page-content-inner">
      <div class="content-block-title">{{ SETTING_LANGUAGE_TITLE }}</div>
      <div class="list-block">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-inner">
                <div class="item-title label">{{ SETTING_LANGUAGE }}</div>
                <div class="item-input">
                  <select class="select-language">
                    {{{ LANGUAGE_OPTIONS }}}
                  </select>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="loader"></div>
    </div>
  </div>
</div>
